
.root {
	-fx-background-color: #dfe3ee;
}

#tree-node {
	-fx-stroke: black;
	-fx-stroke-width: 5px;
}

#title {
	-fx-font-size: 30px;
	-fx-font-weight: bold;
	-fx-font-family: 'Bookman Old Style';
	-fx-fill: #3b5998;
	-fx-stroke: #8b9dc3;
	
	-f-text-alignment: center;
}

#proc-text {
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-font-style: italic;
	-fx-font-family: 'Bookman Old Style';
	
	-fx-text-alignment: center;
}

#output-text {
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-font-style: italic;
	-fx-font-family: 'Bookman Old Style';
	
	-fx-text-alignment: center;
}

#progress-bar-text {
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-font-style: italic;
	-fx-font-family: 'Bookman Old Style';
	
	-fx-text-alignment: center;
}

#pb {
	
}

#num-of-proc {
	-fx-font-family: 'Bookman Old Style';
	-fx-font-size: 15px;
	-fx-text-alignment: center;
}

#output-file {
	-fx-font-family: 'Bookman Old Style';
	-fx-font-size: 15px;
	-fx-text-alignment: center;
}

#task {
	-fx-background-color: #FFFFFF;
	-fx-border-color: red;
}


