
.root {
	-fx-background-color: #d6c5c2;
}

#tree-node {
	-fx-stroke: black;
	-fx-stroke-width: 5px;
}

#title {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	
	-f-text-alignment: center;
}

#proc-text {
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-font-style: italic;
	
	-fx-text-alignment: center;
}

#output-text {
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-font-style: italic;
	
	-fx-text-alignment: center;
}

#progress-bar-text {
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-font-style: italic;
	
	-fx-text-alignment: center;
}

#pb {
	
}

#num-of-proc {
	-fx-text-alignment: center;
}

#output-file {
	-fx-text-alignment: center;
}